#root{
  max-width: 100vw;
  overflow-x: hidden;
}

.container{
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vw;
  
}

.container section{
  height: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  overflow: hidden;
}